<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{cat.name}}">
  <ion-content has-header="true" padding="true">
    <div class="card">
        <div class="item item-avatar">
            <img style="width:auto;height:auto" src={{cat.avatar}}>
            <h2 align="center">{{cat.name}}</h2>
        </div>
    </div>
    <div class="list list-inset">
      <a class="item item-thumbnail item-icon-right"
         ng-repeat="col in cols"
         ui-sref='tab.comics({catId:cat._id,colId:col.id})'>
          <i class="icon ion-chevron-right"></i>
          <div class="row">
              <div class="col-20">
                  <img src='{{col.doc.tipo}}'>
              </div>
              <div class="col">
                  <h2>{{col.doc.name}}</h2>
                  <p>{{col.doc.numeros}} números</p>
                  <p>publicado el {{col.doc.published}}</p>
              </div>
          </div>
      </a>
    </div>
  </ion-content>
</ion-view>