<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{col.name}}">
    <ion-content has-header="true" padding="true">
        <div class="card">
            <div class="item item-thumbnail item-icon-right">
                <a ui-sref='tab.cat-detail({catId:cat._id})'>
                    <i class="icon ion-chevron-up"></i>
                </a>
                <div class="row">
                    <div class="col-20">
                        <img src="{{col.tipo}}">
                    </div>
                    <div class="col">
                        <h2>{{col.name}}</h2>
                        <p>{{col.tags}}</p>
                    </div>
                </div>
            </div>
            <div class="item item-divider"></div>
        </div>
        <div class="card">
            <div class="item-divider">
                <p><b>Número:</b> {{comic.numero}} de {{col.numeros}}</p>
            </div>
            <div class="item item-thumbnail">
                <div class="row">
                    <div class="col-40">
                        <img src="{{comic.tipo}}">
                    </div>
                    <div class="col">
                        <p><b>Desc:</b> {{comic.descripcion}}</p>
                        <p><b>Notas:</b> {{comic.notas}}</p>
                        <p><b>Publicado:</b> {{comic.published}}</p>
                        <p><b>Barcode:</b> {{comic.ean}}</p>
                        <p><b>Precio:</b> {{comic.precio}} soles</p>
                    </div>
                </div>
            </div>
            <div class="item-divider"></div>
        </div>
    </ion-content>
</ion-view>
