<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{col.name}}">
  <ion-content has-header="true" padding="true">
    <div class="card">
        <div class="item item-avatar">
            <div class="row">
                <div class="col-20">
                    <a ui-sref='tab.cat-detail({catId:cat._id})'>
                        <img style="width:auto;height:auto" src={{cat.avatar}}>
                    </a>
                </div>
                <div class="col" align="center">
                    <h2>{{cat.name}}</h2>
                </div>
            </div>
        </div>
        <div class="item item-thumbnail">
            <div class="row">
                <div class="col-30">
                    <img style="width:auto;height:auto" src={{col.tipo}}>
                </div>
                <div class="col">
                    <h2>{{col.name}}</h2>
                    <p>{{col.tags}}</p>
                    <p>{{col.numeros}} números</p>
                </div>
            </div>
        </div>
        <div class="item item-divider"></div>
      <!-- <div class="item item-thumbnail">
        <div class="row">
          <div class="col-30">
            <img style="width:auto;height:auto" src={{cat.avatar}}>
          </div>
          <div class="col-30">
            <img style="width:auto;height:auto" src={{col.tipo}}>
          </div>
          <div class="col">
              <h2>{{col.name}}</h2>
              <p>{{col.tags}}</p>
              <p>{{col.numeros}} números</p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="list list-inset">
      <a class="item item-thumbnail-left"
         ng-repeat="comic in comics"
         ui-sref='tab.comic({catId:cat._id,colId:col._id,comicId:comic.id})'>
        <img src='{{comic.doc.tipo}}'>
        <h2>Número: {{comic.doc.numero}} de {{col.numeros}}</h2>
        <p>Publicado: {{comic.doc.published}}</p>
        <p>Notas: {{comic.doc.notas}}</p>
        <p>Precio: {{comic.doc.precio}} soles</p>
      </a>
    </div>
  </ion-content>
</ion-view>