<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{cat.name}}">
  <ion-content has-header="true" padding="true">
    <div class="card">
      <div class="item item-image">
        <div class="row">
          <div class="col-30">
            <img style="width:auto;height:auto" src={{cat.avatar}}>
          </div>
          <div class="col">
            <h2>{{cat.name}}</h2>
            <p>{{cat.id}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="list list-inset">
      <a class="item item-thumbnail"
         ng-repeat="col in cols"
              ui-sref='tab.comics({catId:cat._id,colId:col._id})'>
        <div class="row">
        <div class="col-20"><img src='{{col.cover}}'></div>
        <div class="col">
          <h2>{{col.name}}</h2>
          <p>{{col.numeros}} números</p>
          <p>publicado el {{col.published}}</p>
        </div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>