<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{col.name}}">
  <ion-content has-header="true" padding="true">
    <div class="card">
        <div class="item item-avatar">
            <img style="width:auto;height:auto" src={{cat.avatar}}>
            <h2>{{cat.name}}</h2>
        </div>
        <div class="item item-thumbnail item-icon-right">
            <a ui-sref='tab.cat-detail({catId:cat._id})'>
                <i class="icon ion-chevron-up"></i>
            </a>
            <div class="row">
                <div class="col-30">
                    <img style="width:auto;height:auto" src={{col.tipo}}>
                </div>
                <div class="col">
                    <h2>{{col.name}}</h2>
                    <p>{{col.tags}}</p>
                    <p>{{col.numeros}} números</p>
                </div>
            </div>
        </div>
        <div class="item item-divider"></div>
    </div>
    <div class="list list-inset">
        <a class="item item-image item-icon-right"
           ng-repeat="comic in comics"
           ui-sref='tab.comic({catId:cat._id,colId:col._id,comicId:comic.id})'>
            <i class="icon ion-chevron-right"></i>
            <div class="row">
                <div class="col-20">
                    <img src='{{comic.doc.tipo}}'>
                </div>
                <div class="col" align="left">
                  <h2>Número: {{comic.doc.numero}} de {{col.numeros}}</h2>
                  <p>Publicado: {{comic.doc.published}}</p>
                  <p>Notas: {{comic.doc.notas}}</p>
                  <p>Precio: {{comic.doc.precio}} soles</p>
                </div>
            </div>
        </a>
    </div>
  </ion-content>
</ion-view>