<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Cómic">
    <ion-content>
        <div class="card">
            <div class="item item-avatar item-icon-right">
                <img src="{{col.tipo}}">
                <h2>{{col.name}}</h2>
                <p>{{col.tags}}</p>
                <a ui-sref='tab.comics({catId:cat._id,colId:col._id})'>
                    <i class="icon ion-chevron-up"></i>
                </a>
            </div>
            <div class="item item-divider">
                <p><b>Número:</b> {{comic.numero}} de {{col.numeros}}</p>
            </div>
            <div class="item item-body">
                <div class="row responsive-sm">
                    <div>
                        <img  src="{{comic.tipo}}">
                    </div>
                    <div align="left">
                        <b>Desc:</b> {{comic.descripcion}}</br>
                        <b>Notas:</b> {{comic.notas}}</br>
                        <b>Tags:</b> {{comic.tags}}</br>
                        <b>Publicado:</b> {{comic.published}}</br>
                        <b>Barcode:</b> {{comic.ean}}</br>
                        <b>Precio:</b> {{comic.precio}} soles</br>
                    </div>
                </div>
            </div>
            <div class="item item-divider"></div>
        </div>
    </ion-content>
</ion-view>
