<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Colecciones Publicadas">
  <ion-content has-header="true" padding="true">
    <div class="card">
        <div class="item item-avatar">
            <img style="width:auto;height:auto" src={{cat.avatar}}>
            <h2 align="center">{{cat.name}}</h2>
            <p align="center">{{cols.length}} colecciones</p>
        </div>
        <div class="item item-divider">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="token" placeholder="Buscar"/>
            </label>
            <div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Ordernar
                    </div>
                    <select ng-model="sortToken">
                        <option value="">Nuevos</option>
                        <option value="doc.published">Antiguos</option>
                        <option value="doc.name">Coleccion</option>
                        <option value="doc.tags">Caracter</option>
                    </select>
                </label>
            </div>
        </div>
    </div>
    <div class="list card">
      <a class="item item-thumbnail item-icon-right"
         ng-repeat="col in cols | orderBy:sortToken | filter:token "
         ui-sref='tab.comics({catId:cat._id,colId:col.id})'>
          <i class="icon ion-chevron-right"></i>
          <div class="row">
              <div class="col-20">
                  <img src='{{col.doc.tipo}}'>
              </div>
              <div class="col">
                  <h2>{{col.doc.name}}</h2>
                  <!-- <p>{{col.doc.tags}}</p> -->
                  <p>{{col.doc.numeros}} números</p>
                  <p>publicado el {{col.doc.published}}</p>
              </div>
          </div>
      </a>
    </div>
  </ion-content>
</ion-view>