<ion-view title="Comics Perú">
  <ion-content class="padding">
    <div class="card">
      <button ui-sref='tab.cat-detail.comic({catId:1,colId:1})'>Prueba</button>
    </div>
    <div class="list card">
      <div class="card">
        <h3>Novedades para la semana del 15 al 22 de diciembre 2014</h3>
      </div>
      <div class="card">
        <div class="item item-avatar">
          <img src="img/ionic.png"><h2>Colección nombre</h2>
          <p>Publicación: fecha</p>
        </div>
        <div class="item item-body">
          <div class="row">
            <div class="col"><img class="full-image" src="img/ionic.png"></div>
            <div class="col">
              <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
            </div>
          </div>
          <div class="row">
            <p><a href="#" class="subdued">1 like</a><a href="#" class="subdued">5 comentarios</a></p>
          </div>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#"><i class="icon ion-thumbsup"></i>Me gusta</a>
          <a class="tab-item" href="#"><i class="icon ion-chatbox"></i>Comentario</a>
          <a class="tab-item" href="#"><i class="icon ion-share"></i>Compartir</a>
        </div>
      </div>
      <div class="card">
        <div class="item item-avatar">
          <img src="img/ionic.png"><h2>Colección nombre</h2>
          <p>Publicación: fecha</p>
        </div>
        <div class="item item-body">
          <div class="row">
            <div class="col"><img class="full-image" src="img/ionic.png"></div>
            <div class="col">
              <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
            </div>
          </div>
          <div class="row">
            <p><a href="#" class="subdued">1 like</a><a href="#" class="subdued">5 comentarios</a></p>
          </div>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#"><i class="icon ion-thumbsup"></i>Me gusta</a>
          <a class="tab-item" href="#"><i class="icon ion-chatbox"></i>Comentario</a>
          <a class="tab-item" href="#"><i class="icon ion-share"></i>Compartir</a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
