<ion-view title="Comics Perú" nav-clear="true">
  <div style="height: 50px"></div>
  <ion-content header-shrink>
    <h2 align="center" class="title">Ultimos comics publicados</h2>
    <div class="list card">
      <div ng-repeat="comic in comics"
              class="card">
        <div class="item item-avatar">
          <img src={{comic.doc.cover}}><h2>{{comic.doc.name}}</h2>
          <p>Publicación: {{comic.key[0]}}</p>
        </div>
        <div class="item item-body">
          <div class="row">
            <div class="col">
              <a ui-sref='tab.comic({catId:comic.doc.cats[0].cat,colId:comic.doc._id,comicId:comic.id})'>
                <img class="full-image" src={{comic.key[5]}}>
              </a>
            </div>
            <div class="col">
              <p><b>Desc:</b> {{comic.key[1]}}</p>
              <p><b>Notas:</b> {{comic.key[2]}}</p>
              <p><b>Número:</b> {{comic.key[3]}} de {{comic.doc.numeros}}</p>
              <p><b>Precio:</b> {{comic.key[4]}} soles</p>
            </div>
          </div>
          <!--
          <div class="row">
            <p><a href="#" class="subdued">1 like</a><a href="#" class="subdued">5 comentarios</a></p>
          </div>
          -->
        </div>
        <!--
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#"><i class="icon ion-thumbsup"></i>Me gusta</a>
          <a class="tab-item" href="#"><i class="icon ion-chatbox"></i>Comentario</a>
          <a class="tab-item" href="#"><i class="icon ion-share"></i>Compartir</a>
        </div>
        -->
      </div>
    </div>

  </ion-content>
</ion-view>
