<ion-view title="Ultimos publicados" nav-clear="true">
  <ion-content header-shrink>
    <div class="list card">
      <div ng-repeat="comic in comics"
              class="card">
        <div class="item item-avatar">
            <img src= '{{comic.doc.tipo }}'>
            <h2>{{comic.doc.name}}</h2>
            <p>Publicación: {{comic.key[0]}}</p>
        </div>
          <a class="item item-image item-icon-right"
             ui-sref="tab.comic({catId:comic.doc.cats[0].cat,colId:comic.doc._id,comicId:comic.id})">
              <i class="icon ion-chevron-right"></i>
              <div class="row">
                  <div class="col-20">
                      <img class="full-image" width=""src='{{ comic.key[5] }}'>
                  </div>
                  <div class="col" align="left">
                      <p><b>Desc:</b> {{comic.key[1]}}</p>
                      <p><b>Número:</b> {{comic.key[3]}} de {{comic.doc.numeros}}</p>
                      <p><b>Precio:</b> {{comic.key[4]}} soles</p>
                  </div>
              </div>
          </a>
          <!--
          <div class="row">
            <p><a href="#" class="subdued">1 like</a><a href="#" class="subdued">5 comentarios</a></p>
          </div>
          -->

        <!--
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#"><i class="icon ion-thumbsup"></i>Me gusta</a>
          <a class="tab-item" href="#"><i class="icon ion-chatbox"></i>Comentario</a>
          <a class="tab-item" href="#"><i class="icon ion-share"></i>Compartir</a>
        </div>
        -->
      </div>
    </div>

  </ion-content>
</ion-view>
